@import '../utils/colors';
@import '../abstract/mixin';
@import '../base/typography';

#header {
  @include d-flex-center(initial, initial, initial, 0, 0.6rem 3.2rem);
  @include theme($blackcurrant-color, $aliceblue-color);

  width: 100%;

  position: fixed;

  z-index: 2;

  .header__container {
    @include d-flex-center(space-between, initial, initial, 0, 0);

    width: 100%;

    .header__container__link-github {
      @include d-flex-center(center, initial, center, 1rem, 0);

      .header__container__link-github__text {
        @include theme(none, $aliceblue-color);
        @include set-typography($tertiary-font, 1.4rem, initial, initial, initial);
      }

      .header__container__link-github__logo {
        width: 4.6rem;
      }
    }

    .header__container__quiz-logo-container {
      @include d-flex-center(center, initial, center, 1.4rem, 0);

      position: relative;
      right: calc(50% - 9.2rem);

      .header__container__quiz-logo-container__open-quiz-button {
        @include d-flex-center(center, initial, center, 0, 0);

        position: relative;

        #quiz-logo-main-img,
        #quiz-logo-hovered-img {
          width: 3.6rem;
        }

        #quiz-logo-hovered-img {
          opacity: 0;
          visibility: hidden;
          transition: 0.7s ease-in-out;

          position: absolute;

          &.quiz-logo-hovered-img--active {
            @include is-visible;

            filter: drop-shadow(0 0 2rem $chinook-color);
          }
        }

        .header__container__quiz-logo-container__open-quiz-button__interrogation {
          @include theme(none, $chinook-color);
          @include set-typography($tertiary-font, 4rem, bold, initial, initial);

          &.open-quiz-button__interrogation--active {
            color: $aliceblue-color;
          }
        }
      }

      .header__container__quiz-logo-container__text {
        @include theme(none, $aliceblue-color);
        @include set-typography($primary-font, 2.8rem, initial, initial, initial);

        .header__container__quiz-logo-container__text__interrogation {
          @include theme(none, $chinook-color);
          @include set-typography($tertiary-font, 3.8rem, bold, initial, initial);
        }
      }
    }
  }
}
