@import '../utils/colors';
@import '../abstract/mixin';
@import '../base/typography';

#quiz-page {
  @include pageConfig(5.27875rem);

  .quiz-page__fade-score {
    @include fade(#00000099);

    .circle {
      @include position-absolute-center;
      @include d-flex-center(initial, initial, baseline, 0, 0);

      background: transparent;
      border-radius: 50%;

      width: 50px;
      height: 50px;

      span {
        @include theme(none, $chinook-color);
        @include set-typography($tertiary-font, 4rem, initial, initial, initial);
      }

      img {
        width: 6rem;
      }
    }

    &.fade-score--active {
      @include is-visible;
    }
  }

  .quiz-page__container {
    @include pagesContainer($selago-color, $shadow-color);
    @include d-flex-center(initial, initial, center, 1.4rem, 1rem);

    height: 60rem;

    position: relative;

    .quiz-page__question-container {
      @include d-flex-center(center, column, initial, 0, 1.4rem);

      background: #00000022;
      border-radius: 5px;

      width: 60%;
      height: 100%;

      .quiz-page__question-container__question {
        @include d-flex-center(initial, column, center, 1.8rem, 1.4rem);

        height: 100%;

        span.quiz-page__question-container__question__question-number {
          @include set-typography($tertiary-font, 2.4rem, initial, initial, initial);
          @include theme($blackcurrant-color, $selago-color);

          border-radius: 2.8px;
          box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;

          padding: 0.6rem;
        }

        h2.quiz-page__question-container__question__question-text {
          @include set-typography($tertiary-font, 2.2rem, initial, initial, initial);
        }

        ul.quiz-page__question-container__response-options-container {
          @include d-flex-center(initial, column, initial, 2rem, 0);

          width: 100%;

          li.quiz-page__question-container__response-options-container__option,
          .js-response-option {
            @include theme($blackcurrant-color, $chinook-color);
            @include set-typography($secondary-font, 1.7rem, initial, justify, initial);

            cursor: pointer;
            border-radius: 5px;

            padding: 1.2rem;

            &.option--is-correct {
              @include theme($chinook-color, $blackcurrant-color);
            }

            &.option--is-wrong {
              @include theme($alert-color, $blackcurrant-color);
            }
          }
        }
      }

      .quiz-page__question-container__next-question-button {
        @include theme($blackcurrant-color, $chinook-color);
        @include set-typography($tertiary-font, 2rem, initial, initial, initial);

        border-radius: 5px;
        box-shadow: 0 0 0.4rem $shadow-color;

        align-self: flex-end;
        padding: 1rem;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }

        &:active {
          box-shadow: 0 0 0.2rem $shadow-color;
        }
      }
    }

    .quiz-page__details-container {
      @include d-flex-center(initial, column, initial, 2rem, 1.4rem);

      background: #00000022;
      border-radius: 5px;
      box-shadow: 0 0 0.4rem $shadow-color;
      opacity: 0;
      visibility: hidden;
      transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

      width: 40%;
      height: 100%;

      &.details-container--active {
        @include is-visible;
      }

      .quiz-page__question-details-container {
        @include d-flex-center(space-around, column, initial, 0rem, 0);

        height: 80%;

        .quiz-page__question-details-container__question {
          @include set-typography($secondary-font, 2rem, initial, initial, 2.8rem);
        }

        .quiz-page__question-details-container__user-response,
        .quiz-page__question-details-container__correct-response {
          @include theme(none, $blackcurrant-color);
          @include set-typography($primary-font, 1.6rem, bold, initial, 2.8rem);
        }

        .quiz-page__question-details-container__user-response__details,
        .quiz-page__question-details-container__correct-response__details {
          @include theme($blackcurrant-color, $selago-color);
          @include set-typography($tertiary-font, inherit, normal, inherit, inherit);

          border-radius: 2.5px;

          padding: 0.4rem;
        }

        .quiz-page__question-details-container__explanation-text {
          @include set-typography($tertiary-font, 2rem, initial, justify, initial);
        }

        .quiz-page__question-details-container__explanation-paragraph {
          @include theme(none, $blackcurrant-color);
          @include set-typography($tertiary-font, 1.8rem, initial, justify, initial);
        }
      }
    }

    .quiz-page__guidelines-container {
      @include d-flex-center(space-evenly, column, initial, 0, 2.4rem);

      background: $chinook-color;
      border: 0.2rem solid $blackcurrant-color;
      border-radius: 1rem;
      -webkit-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;
      -moz-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;
      box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;
      opacity: 1;
      visibility: visible;
      transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);

      width: calc(40% - 1.8rem);
      height: calc(100% - 4.4rem);

      position: absolute;
      right: 1rem;

      &.guidelines-container--active {
        @include is-not-visible;
      }

      .quiz-page__guidelines-container__title {
        @include theme(none, $blackcurrant-color);
        @include set-typography($tertiary-font, 3.2rem, initial, initial, initial);
      }

      .quiz-page__guidelines-container__list-item {
        @include theme(none, $blackcurrant-color);
        @include set-typography($secondary-font, 1.6rem, bold, justify, 4rem);

        span {
          @include theme(none, $selago-color);
          @include set-typography($secondary-font, 2rem, initial, initial, initial )
        }

        &::before {
          content: '☑️';
          list-style-position: inside;
        }
      }

      .quiz-page__guidelines-container__good-luck {
        @include theme(none, $blackcurrant-color);
        @include set-typography($tertiary-font, 3rem, initial, initial, initial);
      }
    }
  }

  .quiz-page__result-button {
    @include position-absolute-center;
    @include theme($blackcurrant-color, $chinook-color);
    @include set-typography($tertiary-font, 2rem, initial, center, initial);

    border-radius: 5px;
    box-shadow: 0 0 2rem $shadow-color;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;

    width: 12vw;
    height: 6rem;

    z-index: 2;

    &.result-button--active {
      @include is-visible;
    }
  }

  .quiz-page__score-container {
    @include position-absolute-center;
    @include d-flex-center(initial, column, initial, 4rem, 1.8rem 3rem);
    @include theme($blackcurrant-color, $selago-color);

    border-radius: 1rem;
    border: 0.2rem solid $selago-color;
    -webkit-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;
    -moz-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;
    box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem $shadow-color;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);

    z-index: 10;

    &.score-container--active {
      @include is-visible;
    }

    .quiz-page__score-container__close-button {
      @include d-flex-center(initial, initial, initial, 0, 0);

      cursor: pointer;
      background: $blackcurrant-color;
      border: none;
      border-radius: 20px 20px 20px 4px;
      -webkit-box-shadow: 9px 13px 24px 1px $shadow-color;
      -moz-box-shadow: 9px 13px 24px 1px $shadow-color;
      box-shadow: 9px 13px 24px 1px $shadow-color;

      position: absolute;
      top: -4.4rem;
      right: -4.4rem;

      display: flex;

      img {
        width: 4.6rem;

        margin: auto;
      }
    }

    .quiz-page__score-container__text-content {
      @include d-flex-center(initial, column, center, 1rem, 0);

      &.quiz-page__score-container__text-content--1 {
        h2 {
          @include theme(none, $chinook-color);
          @include set-typography($tertiary-font, 4rem, initial, initial, initial);
        }

        h3 {
          @include set-typography($tertiary-font, 3.4rem, initial, initial, initial);
        }
      }

      &.quiz-page__score-container__text-content--2 {
        h2 {
          @include set-typography($tertiary-font, 2.8rem, initial, initial, initial);
        }

        h3 {
          @include set-typography($tertiary-font, 2.4rem, initial, initial, initial);
        }
      }

      &.quiz-page__score-container__text-content--3 {
        h2,
        h3 {
          @include set-typography($tertiary-font, 2.4rem, initial, initial, initial);
        }
      }

      &.quiz-page__score-container__text-content--4 {
        span {
          @include set-typography($tertiary-font, 1.8rem, initial, initial, initial);
        }
      }
    }
  }
}
