:root {
  --default-font-family: 'Questrial', sans-serif;
  --default-font-size: 1.6rem;

  --h2-font-family: 'Quicksand', sans-serif;
  --h2-font-size: 2rem;

  --primary-color: #f4874c;
  --secondary-color: #5c4a72;
  --white-color: #f0f8ff;
  --other-color: #a3586d;
}

* {
  margin: 0;

  user-select: none;

  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pos-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: none;
  background: none;
}

li {
  list-style-type: none;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: var(--h2-font-size);
}

main {
  width: 100%;
  min-height: 100vh;

  display: flex;
}

#main-home {
  background: var(--white-color);
}

.main-wrapper {
  margin: auto;
}

figure {
  width: min(100%, 50%);
}

figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-home-content {
  text-align: center;

  position: relative;

  width: 50%;

  flex-direction: column;
  gap: 14rem;
  padding: 2.4rem;

  z-index: 4;
}

.text-content h1 {
  color: var(--primary-color);

  font-size: 4rem;
}

.text-content h2 {
  color: var(--secondary-color);
}

.open-button-wrapper {
  width: 6rem;
  height: 6rem;

  align-self: center;
}

.circle {
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0 0.6rem 1rem 0 #00000050;
  box-shadow: 0 0.6rem 1rem 0rem #00000050;
  border-radius: 50%;

  text-align: center;
  position: relative;

  height: 6rem;
  width: 6rem;

  margin: 0 auto;

  display: block;
  padding: 0;

  transition: 0.2s;
  z-index: 98;
}

.circle:hover {
  cursor: pointer;
  background-color: #171717;
  box-shadow: 0 0.8rem 1.5rem 0 #00000050;
}

.circle .svg {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 3.2rem;
  width: 3.2rem;

  margin-left: -1.6rem;
  margin-top: -1.6rem;

  transition: 0.5s;
  transform: rotate(180deg);
}

.sub-circle {
  box-shadow: 0 0.8rem 1.3rem 0 #00000050;
  border: none;
  border-radius: 0.6rem;
  user-select: none;
  overflow: hidden;
  opacity: 0;

  position: absolute;

  height: 4rem;
  width: 26rem;

  margin-left: -11rem;

  padding: 0;

  transition: 0.3s;
  transform: scale(0.5);

  z-index: 0;
}

.sub-circle label {
  background-color: var(--primary-color);
  color: #171717;

  font-size: 1.6rem;
  line-height: 4rem;

  width: 100%;
  height: 100%;

  display: block;

  transition: 0.5s;
}

.sub-circle label:hover {
  cursor: pointer;

  color: var(--white-color);
  background-color: var(--secondary-color);
}

.subs {
  text-align: center;

  width: 4rem;
  height: 4rem;

  position: relative;
  left: -2rem;
  top: -5rem;

  margin: 0 auto;

  z-index: 0;
}

.hidden-sub-trigger {
  display: none;
}

.hidden-trigger {
  display: none;
}

.hidden-trigger:checked ~ .circle {
  cursor: pointer;
  background-color: var(--other-color);
  box-shadow: 0rem 0.8rem 1.3rem 0rem #00000080;

  transform: scale(0.75);
}

.hidden-trigger:checked ~ .circle .svg {
  transform: rotate(-315deg);
}

.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  opacity: 1;

  transform: translate(-15rem, -6.928rem) scale(1);
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  opacity: 1;

  transform: translate(15rem, -6.928rem) scale(1);
  transition: 0.2s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  opacity: 1;

  transform: translate(16rem, 0rem) scale(1);
  transition: 0.3s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(4) {
  opacity: 1;

  transform: translate(-15rem, 6.928rem) scale(1);
  transition: 0.4s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(5) {
  opacity: 1;

  transform: translate(15rem, 6.928rem) scale(1);
  transition: 0.5s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(6) {
  opacity: 1;

  transform: translate(-16rem, 0rem) scale(1);
  transition: 0.6s;
}

.guidelines-content-popup {
  background: var(--white-color);
  border-radius: 1rem;
  border: 0.2rem solid;
  -webkit-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem #000000bf;
  -moz-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem #000000bf;
  box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem #000000bf;
  opacity: 0;

  flex-direction: column;
  gap: 4rem;
  padding: 2.4rem;

  transition: 0.6s ease-in-out;
  z-index: 3;
}

.guidelines-content-popup.show-guidelines {
  opacity: 1;
}

.guidelines-content-popup h2 {
  font-size: 2.8rem;
}

.guidelines-content-popup ul li {
  list-style: '✅';
  list-style-position: inside;

  line-height: 3.2rem;
}

.important-info span {
  font-weight: 700;
  color: red;
}

.fade {
  background: #00000088;

  position: absolute;
  inset: 0;

  opacity: 1;

  z-index: 3;
}

.fade.show-fade {
  opacity: 1;
}

.ready-button {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125rem;
  --curve-size: 0.5rem;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  cursor: pointer;
  color: var(--color);
  box-shadow: 1rem 1rem 2rem #00000099;
  clip-path: polygon(
    0% 0.5rem,
    0.5rem 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  border: 0;
  isolation: isolate;

  text-transform: uppercase;

  position: relative;

  display: inline-grid;
  place-content: center;
  padding: 0.5rem 1.5rem;

  transition: color 250ms;
}

.ready-button::after,
.ready-button::before {
  content: '';

  position: absolute;
  inset: 0;
}

.ready-button::before {
  background: var(--border-color);
  background-size: 300% 300%;

  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.ready-button::after {
  background: var(--bg);
  clip-path: polygon(
    var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );

  transition: clip-path 500ms;

  z-index: -1;
}

.ready-button:where(:hover, :focus)::after {
  clip-path: polygon(
    calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width))
  );

  transition: 200ms;
}

.ready-button:where(:hover, :focus) {
  color: var(--white-color);
}

#main-quiz {
  background: var(--secondary-color);
}

.main-quiz-wrapper {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  border-radius: 0.8rem;
  -webkit-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem #000000bf;
  -moz-box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem #000000bf;
  box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem #000000bf;

  width: min(100%, 120rem);

  margin: auto;

  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2.4rem;

  z-index: 2;
}

.timing-display {
  font-size: 4rem;
}

.question-number {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
}

.quiz-content {
  text-align: center;

  width: 100%;

  flex-direction: column;
  gap: 4.2rem;
}

.answer-options {
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.all-options {
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-color);

  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding: 0.6rem;

  text-align: justify;
}

.all-options label {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 0.4rem;

  font-size: 1.8rem;

  width: 100%;

  padding: 1rem;
}

.checkbox {
  cursor: pointer;
  appearance: none;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--white-color);
  aspect-ratio: 1;

  width: 4rem;

  position: relative;

  transition: all 0.2s ease-in-out;
}

.checkbox::before {
  content: '✔';
  color: var(--secondary-color);

  font-size: 4.6rem;

  position: absolute;
  bottom: 0rem;
  left: 0.3rem;

  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
  animation: zoom 0.5s ease-in-out;
  transform: scale(1);
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.buttons-container {
  width: 100%;

  align-items: center;
  justify-content: flex-end;
}

.next-question-button {
  cursor: pointer;
  background-color: var(--white-color);
  color: #171717;
  border-radius: 0.5rem;
  border: none;
  overflow: hidden;

  letter-spacing: 0.3rem;
  text-transform: uppercase;

  height: 4rem;

  position: relative;

  padding: 0 4rem;
}

.next-question-button:hover {
  color: var(--white-color);
}

.next-question-button::before {
  content: '';
  background: var(--secondary-color);
  background: linear-gradient(90deg, var(--other-color) 20%, var(--secondary-color) 100%);

  position: absolute;
  bottom: 0;
  left: 0;

  height: 0rem;
  width: 100%;
  display: block;

  transition: 0.2s;
}

.next-question-button .label {
  position: relative;
}

.next-question-button .icon {
  height: 4rem;
  width: 4rem;

  position: absolute;
  top: 4rem;
  right: 0;

  opacity: 0;
  transition: 0.4s;
}

.next-question-button:hover::before {
  height: 100%;
}

.next-question-button:hover .icon {
  top: 0;

  opacity: 1;
}

.disabled-label {
  opacity: 0.6;
}
