@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f0f8ff;
  overflow: hidden;
}

h2 {
  font-family: "Inter Tight", system-ui;
}

h3 {
  font-family: "Poiret One", system-ui;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family: "Inter Tight", system-ui;
  font-size: 1.6rem;
  text-align: justify;
}

span,
p {
  font-family: "Afacad Flux", sans-serif;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  font-family: "Afacad Flux", sans-serif;
  font-size: 1.6rem;
}

#header {
  background: #2b1135;
  color: #f0f8ff;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 0.6rem 3.2rem;
  z-index: 2;
}
#header .header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
#header .header__container .header__container-link-github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#header .header__container .header__container-link-github .link-github__span {
  color: #f0f8ff;
  font-size: 1.6rem;
  font-weight: normal;
}
#header .header__container .header__container-link-github .link-github__my-logo {
  width: 4.6rem;
}
#header .header__container .header__container-quiz-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: calc(50% - 9.2rem);
  gap: 1.4rem;
}
#header .header__container .header__container-quiz-logo-container .open-quiz-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__container .header__container-quiz-logo-container .open-quiz-button #quiz-logo-main-img,
#header .header__container .header__container-quiz-logo-container .open-quiz-button #quiz-logo-hovered-img {
  width: 3.6rem;
}
#header .header__container .header__container-quiz-logo-container .open-quiz-button #quiz-logo-hovered-img {
  opacity: 0;
  visibility: hidden;
  transition: 0.7s ease-in-out;
  position: absolute;
}
#header .header__container .header__container-quiz-logo-container .open-quiz-button #quiz-logo-hovered-img.quiz-logo-hovered-img--active {
  opacity: 1;
  visibility: visible;
  filter: drop-shadow(0 0 2rem #8adea4);
}
#header .header__container .header__container-quiz-logo-container .open-quiz-button .open-quiz-button__interrogation {
  color: #8adea4;
  font-family: "Afacad Flux", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}
#header .header__container .header__container-quiz-logo-container .open-quiz-button .open-quiz-button__interrogation.open-quiz-button__interrogation--active {
  color: #f0f8ff;
}
#header .header__container .header__container-quiz-logo-container :last-child {
  color: #f0f8ff;
  font-family: "Poiret One", system-ui;
  font-size: 2.8rem;
  font-weight: normal;
}
#header .header__container .header__container-quiz-logo-container :last-child .header__container-quiz-logo-container__interrogation {
  color: #8adea4;
  font-family: "Afacad Flux", sans-serif;
  font-weight: bold;
}

#home-page {
  position: relative;
  top: 6.56rem;
  min-height: calc(100vh - 6.56rem);
  display: flex;
  padding: 1.8rem;
}
#home-page .home-page__fade {
  background: rgba(255, 255, 255, 0.5843137255);
  opacity: 0;
  visibility: hidden;
  transition: 0.7s ease-in-out;
  position: absolute;
  inset: 0;
  z-index: 2;
}
#home-page .home-page__fade.home-page__fade--active {
  opacity: 1;
  visibility: visible;
}
#home-page .home-page__container {
  background: rgba(0, 0, 0, 0.1450980392);
  border-radius: 10px;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.7490196078);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
}
#home-page .home-page__container .container__figure {
  width: 50%;
}
#home-page .home-page__container .container__figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#home-page .home-page__container .swiper {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 6rem;
}
#home-page .home-page__container .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
}
#home-page .home-page__container .swiper .swiper-slide h2 {
  background: #2b1135;
  color: #8adea4;
  border-radius: 5px;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 2.4rem;
  padding: 0.6rem;
}
#home-page .home-page__container .swiper .swiper-slide ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#home-page .home-page__container .swiper .swiper-slide ul li {
  color: #2b1135;
  line-height: 2.4rem;
}
#home-page .home-page__container .swiper .swiper-slide ul li::before {
  content: url("/src/images/check_icon.png");
  list-style-position: inside;
  position: relative;
  top: 1rem;
}
#home-page .home-page__container .swiper .swiper-slide p {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 2.4rem;
}
#home-page .home-page__container .swiper .swiper-button-next,
#home-page .home-page__container .swiper .swiper-button-prev {
  color: #2b1135;
}
#home-page .home-page__container .swiper .swiper-button-next {
  right: 0rem;
}
#home-page .home-page__container .swiper .swiper-button-prev {
  left: 0rem;
}
#home-page .home-page__quizzes-theme {
  background: #2b1135;
  border-radius: 10px;
  box-shadow: 0px 21px 49px 4px rgba(0, 0, 0, 0.7490196078);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 3;
}
#home-page .home-page__quizzes-theme.home-page__quizzes-theme--active {
  transform: translate(-50%, -50%) scale(1);
}
#home-page .home-page__quizzes-theme .quizzes-theme__close-button {
  cursor: pointer;
  background: #2b1135;
  border: none;
  border-radius: 30px 26px 30px 4px;
  box-shadow: 9px 13px 24px 1px rgba(0, 0, 0, 0.7490196078);
  position: absolute;
  top: -4.4rem;
  right: -4.4rem;
  display: flex;
}
#home-page .home-page__quizzes-theme .quizzes-theme__close-button img {
  width: 4.6rem;
  margin: auto;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 1.8rem;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list li {
  cursor: pointer;
  background: #f0f8ff;
  border-radius: 5px;
  width: 16rem;
  display: flex;
  padding: 1rem;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b1135;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list li a img {
  filter: drop-shadow(0 0.7rem 0.4rem rgba(0, 0, 0, 0.7490196078));
  width: 6rem;
  transform: scale(1);
  transition: 0.6s ease-in-out;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list li a:active > img {
  filter: drop-shadow(0 0.4rem 0.4rem #000);
  transform: scale(0.9);
  transition: none;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list li a span {
  font-size: 2.6rem;
  font-weight: bold;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list li:not(:hover) {
  filter: none;
}
#home-page .home-page__quizzes-theme .quizzes-theme__list:hover li:not(:hover) {
  filter: blur(2px);
  opacity: 0.5;
}

#quiz-page {
  position: relative;
  top: 6.56rem;
  min-height: calc(100vh - 6.56rem);
  display: flex;
  padding: 1.8rem;
}
#quiz-page .fade-score {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.7s ease-in-out;
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}
#quiz-page .fade-score .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: baseline;
}
#quiz-page .fade-score .circle span {
  color: #8adea4;
  font-size: 4rem;
}
#quiz-page .fade-score .circle img {
  width: 6rem;
}
#quiz-page .fade-score.fade-score--active {
  opacity: 1;
  visibility: visible;
}
#quiz-page .quiz-page__container {
  background: #fffeff;
  border-radius: 10px;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.7490196078);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60rem;
  gap: 1.4rem;
  padding: 2.2rem;
}
#quiz-page .quiz-page__container .quiz-page__question-container {
  background: rgba(0, 0, 0, 0.1333333333);
  border-radius: 5px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  padding: 1.4rem;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__question ul.question__response-options-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__question ul.question__response-options-container li.response-options-container__option {
  background: #2b1135;
  color: #8adea4;
  cursor: pointer;
  border-radius: 5px;
  padding: 1.2rem;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__question ul.question__response-options-container li.response-options-container__option.response-options-container__option--is-correct {
  background: #2b1135;
  color: #8adea4;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__question ul.question__response-options-container li.response-options-container__option.response-options-container__option--is-wrong {
  background: #f55b50;
  color: #2b1135;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__next-question-button {
  background: #2b1135;
  color: #8adea4;
  border-radius: 5px;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.7490196078);
  align-self: flex-end;
  padding: 1rem;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__next-question-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
#quiz-page .quiz-page__container .quiz-page__question-container .question-container__next-question-button:active {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.7490196078);
}
#quiz-page .quiz-page__container .quiz-page__result-container {
  background: rgba(0, 0, 0, 0.1333333333);
  border-radius: 5px;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.7490196078);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.4rem;
}
#quiz-page .quiz-page__container .quiz-page__result-container.quiz-page__result-container--active {
  opacity: 1;
  visibility: visible;
}
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container .user-response,
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container .correct-response,
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container .explanation-text {
  font-size: 1.6rem;
  line-height: 2.8rem;
}
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container .user-response__result,
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container .correct-response__result {
  background: #2b1135;
  color: #f0f8ff;
  border-radius: 2.5px;
  font-weight: normal;
  padding: 0.4rem;
}
#quiz-page .quiz-page__container .quiz-page__result-container .quiz-page__question-result-container .explanation-paragraph {
  font-size: 1.64rem;
  text-align: justify;
}
#quiz-page .quiz-page__container .quiz-page__guidelines-container {
  background: #8adea4;
  border: 0.2rem solid #2b1135;
  border-radius: 1rem;
  box-shadow: 0.2rem 1.5rem 4.1rem -0.8rem rgba(0, 0, 0, 0.7490196078);
  opacity: 1;
  visibility: visible;
  transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: calc(40% - 2.8rem);
  height: calc(100% - 4.4rem);
  position: absolute;
  right: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2.4rem;
}
#quiz-page .quiz-page__container .quiz-page__guidelines-container.quiz-page__guidelines-container--active {
  opacity: 0;
  visibility: hidden;
}
#quiz-page .quiz-page__container .quiz-page__guidelines-container h2 {
  color: #2b1135;
  font-size: 2.8rem;
}
#quiz-page .quiz-page__container .quiz-page__guidelines-container .guidelines-container__guidelines-list li {
  color: #2b1135;
  font-weight: bold;
  line-height: 4rem;
}
#quiz-page .quiz-page__container .quiz-page__guidelines-container .guidelines-container__guidelines-list li::before {
  content: "☑️";
  list-style-position: inside;
}
#quiz-page .quiz-page__container .quiz-page__guidelines-container:last-child {
  font-size: 4rem;
}/*# sourceMappingURL=main.css.map */